.team{
    background: #fff;
    min-height: rem(652px);
    // height: 100vh;
    height: 100%;

    align-items: center;
    overflow: hidden;

    @include tablets{
        // min-height: rem(1000px);
        // height: 100vh;
        // height: 100%;
    }
}

.team__list--mobile{
    display: none;

    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.team__container{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    text-align: center;
}

.team__list--desctop{
    display: flex;

    @include tablets{
        display: none;
    }
}

.team__item{
    width: rem(220px);

    margin-left: rem(20px);

    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child{
        margin-left: 0;
    }

    @include tablets{
        margin-left: 0;

        width: rem(222px);
    }
}

.team__title{
    font-weight: 700;
    font-size: rem(48px);
    margin-bottom: rem(53px);
}
.team__name{
    position: relative;

    margin-top: rem(21px);

    font-weight: 700;
    font-size: rem(21px);

    border: none;
    background: none;

    &::after{
        content: url(../img/team/Polygon.svg);
        position: absolute;
        // transform: rotate(180deg);
        right: rem(-5px);
        top: rem(-1px);
        // bottom: rem(-1px);
    }

    @include tablets{
        margin-top: 0;
        margin-bottom: rem(16px);
    }
}
.team__name--triangle{
    
    &::after{
        content: url(../img/team/Polygon.svg);
        position: absolute;
        transform: rotate(180deg);
        right: rem(-5px);
        bottom: rem(-1px);
    }
}

.team__content-title{
    padding-top: rem(8px);

    font-weight: 400;
    font-size: rem(18px);

    @include tablets{
        font-weight: 700;
    }
}
.team__content-text{
    margin-top: rem(4px);

    font-weight: 300;
    font-size: rem(18px);

    @include tablets{
        padding-bottom: rem(32px);
    }
}

.team__content{
    height: 0;
    overflow: hidden;

    transition: 0.26s;

    &--active{
        height: 100%;
    }
}
