.why{
    background-color: #ffffff;

    min-height: rem(652px);
    // height: 100vh;
    height: 100%;

    display: flex;

    // @include tablets{
    //     min-height: rem(1000px);
    // }

    // @include phones{
    //     min-height: rem(707px);
    // }
}

.why__container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: rem(107px);
    padding-bottom: rem(114px);
    background-color: #ffffff;
}

.why-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.why-text__title{
    font-style: normal;
    font-weight: 700;
    font-size: rem(48px);
    text-transform: uppercase;
    text-align: center;

    @include phones{
        margin: 0;
        font-size: rem(40px);
    }
}
.why-text__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: rem(18px);

    @include phones{
        margin: rem(9px) 0 0 0;
    }
}

.why-benefit__list{
    display: flex;
    margin-top: rem(49px);

    @include phones{
        flex-direction: column;

    }
}

.why-benefit__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: rem(53px);
    text-align: center;
    position: relative;

    @include phones{
        display: flex;
        flex-direction: row;
        margin: 0;
    }
}

.why-benefit__items::before{
    content: url(../img/why/points.png);
    position: absolute;
    top: rem(50px);
    left: rem(-60px);

    @include tablets{
        content: "";
    }

    @include phones{
        content: "";
    }
}
.why-benefit__items:first-child::before{
    content: none;
}
.why-benefit__items:first-child{
    margin-left: 0;
}

.why-benefit__img{
    width: rem(128px);
    height: rem(128px);
    border-radius: 50%;
    background-color: #F2F5F4;
    overflow: hidden;
    margin-bottom: 20px;

    @include phones{
        min-width: rem(128px);
        min-height: rem(128px);
    }
}
.why-benefit__img--perfect{
    padding: rem(30px) rem(42px) rem(30px) rem(42px);

    @include phones{
        margin-bottom: rem(31px);
    }
}
.why-benefit__img--strong{
    padding: rem(32px) rem(32px) rem(32px) rem(32px);

    @include phones{
        margin-bottom: rem(31px);
    }
}
.why-benefit__img--unique{
    padding: rem(30px) rem(30px);

    @include phones{
        margin-bottom: 0;
    }
}

.why-benefit__text{
    @include phones{
        display: flex;
        flex-direction: column;

        text-align: left;
        margin-left: rem(12px);
    }
}

.why-benefit__item--title{
    color: #292929;
    font-style: normal;
    font-weight: 700;
    font-size: rem(27px);
    margin: 0 0 rem(20px) 0;

    @include phones{
        margin-bottom: rem(9px);
    }
}
.why-benefit__item--text{
    color: #666666;
    font-style: normal;
    font-weight: 300;
    font-size: rem(18px);
    margin: 0;
}