.modal{
    background: #313131;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

.modal__container{
    width: rem(309px);
    height: rem(176px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #fff;
}

.modal__content{
    font-weight: 500;
    font-size: rem(18px);

    margin-bottom: rem(18px);
}

.button--modal{
    font-weight: 800;
    font-size: rem(16px);

    width: rem(151px);
    height: rem(60px);
}

.error-modal{
    color: red;
    text-align: center;
}